# Ignorar o ambiente virtual
venv/

# Ignorar ficheiros de cache do Python
__pycache__/
*.pyc

# Ignorar ficheiros do sistema macOS
.DS_Store

base_observatorio_teresopolis.csv
base_observatorio_teresopolis_old.csv
base_observatorio_teresopolis_spacy.csv